html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Use "content" instead of "main" */
#content { 
  max-width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

/* Make section numbers look like LaTeX: “1”, “1.1”, “1.1.1” with tight spacing */
span[class^="section-number-"]{
  display: inline-block;
  margin-right: 0.6em;   /* space between number and title */
  font-weight: normal;   /* LaTeX-like */
}
